@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 15px;
}
body::-webkit-scrollbar-thumb{
  background-color: #ef4444
}
body {
  font-family: "kanit";
}
.active {
  color: #398296;
}
.active::after{
  display: none;
}
nav a {
  transition: 0.3s;
  font-size: 18px;
  position: relative;
}
nav a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  transition: 0.3s;
  background-color: #9acbd7;
}
nav a:hover::after {
  transition: 0.3s;
  left: 0;
  width: 100%;
}
nav a:not(.active):hover {
  transition: 0.3s;
  color: #9acbd7;
}
ul li{
  cursor: pointer;
}
.no-scroll::-webkit-scrollbar{
  width: 0px;
}
.dragging {
  scroll-behavior: smooth;
}